<!--
 * @Author: 胖胖很瘦
 * @Date: 2025-03-28 10:19:43
 * @LastEditors: 胖胖很瘦
 * @LastEditTime: 2025-03-29 10:50:23
-->
<% if (page.comments !== false && theme.comments && theme.comments.enable && theme.comments.type === 'gitalk' && theme.comments.gitalk) { %>
  <div class="page-comments">
    <div id="gitalk-container" class="comments-content"></div>
  </div>
<% } %>