<!--
 * @Author: 胖胖很瘦
 * @Date: 2025-03-17 13:07:41
 * @LastEditors: 胖胖很瘦
 * @LastEditTime: 2025-03-26 15:56:17
-->
<div class="index-container">

  
  <!-- 文章列表 -->
  <div class="post-list">
    <% page.posts.each(function(post) { %>
      <%- partial('_partial/post-item', {post: post}) %>
    <% }) %>
  </div>
  
  <!-- 分页 -->
  <%- partial('_partial/pagination') %>
</div>
